header {

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    .header-top {
        background-color: $main_color;

        ul {
            text-align: right;

            li {

                &:last-child {
                    margin-left: 60px;
                }

                a {
                    color: white;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 5px;
                }
            }
        }
    }

    .header-bottom {
        box-shadow: 0 1px 2px 0 #ebebeb;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                height: 80px;

                a {
                    display: inline-block;
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }
            }

            li {
                padding: 0 15px;

                a {
                    color: $nav_text_color;
                    display: inline-block;
                    font-family: $title_font;
                    line-height: 113px;

                    &.active, &:hover {
                        color: $main_color;
                        border-bottom: 5px solid $main_color;
                    }
                }
            }
        }

        .search {

                input {
                    background-image: url("https://www.dccomics.com/sites/all/themes/dc_comics_bp/images/search-icon-new.png");
                    background-repeat: no-repeat;
                    background-position: right;
                    border: 0;
                    border-bottom: 2px solid $main_color;
                    font-family: "Open Sans Condensed", sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    outline: 0;
                    padding: 0 24px 4px 0;
                    text-align: right;
                    width: 110px;
                }

                ::-webkit-input-placeholder { /* Edge */
                    color: $nav_text_color;
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $nav_text_color;
                }

                ::placeholder {
                    color: $nav_text_color;
                }
            }
    }
}
