$main_color: #0282F9;
$main_bg_text_color: #ffffff;
$text_font: 'Open Sans', sans-serif;
$title_font: 'Open Sans Condensed', sans-serif;
$nav_text_color: #464646;
$dark_section_bg_color: #1C1C1C;
$dark_section_text_color: #ffffff;
$comic_thumb_size: 185px;
$footer_bg_color: #303030;
$footer_title_color: #fff;
$footer_text_color: #959595;
$footer_socials: facebook, twitter, youtube, pinterest, periscope;
